# Ignore cmake generated directories and files.
build/
out/
/CMakeSettings.json

# Visual Studio files
.vs
*.suo
*.user

# VSCode files
.vscode/
.cache/
cmake-variants.yaml

# macOS files
.DS_Store

# Idea files
.idea/

# python
*.pyc
